---
type: cloudgenix template
version: 1.0
# Created at 2021-02-22T21:10:57.739409Z
# by mamato@paloaltonetworks.com
sites v4.5:
  {{ site_name }}:
    address:
      city: {{ city }}
      country: {{ country }}
      post_code: '{{ post_code }}'
      state: {{ state }}
      street: {{ street }}
      street2: {{ street2 }}
    admin_state: active
    description:
    dhcpservers v2.1:
    - broadcast_address: {{ vlan1_broadcast }}
      custom_options:
      default_lease_time: 43200
      description:
      disabled: false
      dns_servers:
      - 8.8.8.8
      - 9.9.9.9
      domain_name:
      gateway: {{ vlan1_gateway }}
      ip_ranges:
      - end_ip: {{ vlan1_range1_end  }}
        start_ip: {{ vlan1_range1_start }}
      - end_ip: {{ vlan1_range2_end }}
        start_ip: {{ vlan1_range2_start}}
      max_lease_time: 86400
      network_context_id:
      static_mappings:
      subnet: {{ vlan1_network_mask }}
      tags:
    - broadcast_address: 192.168.1.255
      custom_options:
      default_lease_time: 43200
      description:
      disabled: false
      dns_servers:
      - 8.8.8.8
      - 8.8.4.4
      domain_name:
      gateway: 192.168.1.1
      ip_ranges:
      - end_ip: 192.168.1.200
        start_ip: 192.168.1.50
      max_lease_time: 86400
      network_context_id:
      static_mappings:
      subnet: 192.168.1.0/24
      tags:
    element_cluster_role: SPOKE
    elements v2.3:
      {{ element_name_1 }}:
        admin_action:
        allowed_roles:
        - HUB
        - SPOKE
        cluster_insertion_mode:
        cluster_member_id:
        connected: true
        deployment_op:
        description:
        element_security_zones v2.0: []
        interfaces v4.9:
          '1':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
                name_servers:
                - 75.75.75.75
              routes:
              - destination: 0.0.0.0/0
                via: 50.227.171.1
              static_config:
                address: 50.227.171.4/29
              type: static
            mac_address:
            mtu: 1500
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id: internet
            network_context_id:
            parent:
            pppoe_config:
            scope: local
            service_link_config:
            site_wan_interface_ids:
            - {{ site_name }}-{{ primary_internet_network_id }}
            sub_interface:
            tags:
            type: port
            used_for: public
          '2':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description: ''
            devicemgmt_policysetstack_id:
            dhcp_relay:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
                name_servers:
                - 8.8.8.8
              routes:
              - destination: 0.0.0.0/0
                via: {{ lte_internet_default_gw }}
              static_config:
                address: {{ lte_internet_ip_mask }}
              type: static
            mac_address:
            mtu: 1500
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id: internet
            network_context_id:
            parent:
            pppoe_config:
            scope: local
            service_link_config:
            site_wan_interface_ids:
            - {{ site_name }}-{{ lte_internet_network_id }}
            sub_interface:
            tags:
            type: port
            used_for: public
          '3.1':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan1_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: true
              vlan_id: 1
            tags:
            type: subinterface
            used_for: lan
          '3.10':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan10_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 10
            tags:
            type: subinterface
            used_for: lan
          '3.20':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan20_address}}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 20
            tags:
            type: subinterface
            used_for: lan
          '3.30':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan30_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 30
            tags:
            type: subinterface
            used_for: lan
          '3.35':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan35_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 35
            tags:
            type: subinterface
            used_for: lan
          '3.40':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan40_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 40
            tags:
            type: subinterface
            used_for: lan
          '3.41':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan41_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 41
            tags:
            type: subinterface
            used_for: lan
          '3.55':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: {{ vlan55_address }}
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: global
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 55
            tags:
            type: subinterface
            used_for: lan
          '3.99':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
              enabled: true
              option_82:
                circuit_id:
                enabled: false
                reforwarding_policy: replace
                remote_id:
              server_ips:
              - 172.16.20.3
              - 10.16.20.3
              source_interface:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
                address: 192.168.1.1/24
              type: static
            mac_address:
            mtu: 0
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent: '3'
            pppoe_config:
            scope: local
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
              native_vlan: false
              vlan_id: 99
            tags:
            type: subinterface
            used_for: lan
          '45':
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
              lan: '5'
              lan_state_propagation: false
              use_relay: true
              wan: '4'
            description:
            devicemgmt_policysetstack_id:
            dhcp_relay:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              - destination: 0.0.0.0/0
                via: {{ PE_mpls_ip }}
              static_config:
                address: {{ mpls_ip_mask }}
              type: static
            mac_address:
            mtu: 1500
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent:
            pppoe_config:
            scope: local
            service_link_config:
            site_wan_interface_ids:
            - {{ site_name }}-{{ MPLS_Provider }}
            sub_interface:
            tags:
            type: bypasspair
            used_for: private
          controller:
            admin_up: true
            attached_lan_networks:
            bound_interfaces:
            bypass_pair:
            description: ''
            devicemgmt_policysetstack_id:
            dhcp_relay:
            directed_broadcast: false
            ethernet_port:
              full_duplex: false
              speed: 0
            ipv4_config:
              dhcp_config:
              dns_v4_config:
              routes:
              static_config:
              type: dhcp
            mac_address:
            mtu: 1500
            nat_address:
            nat_pools:
            nat_port: 0
            nat_zone_id:
            network_context_id:
            parent:
            pppoe_config:
            scope: local
            service_link_config:
            site_wan_interface_ids:
            sub_interface:
            tags:
            type: port
            used_for: none
        l3_direct_private_wan_forwarding: true
        l3_lan_forwarding: true
        model_name: ion 2000
        nat_policysetstack_id:
        network_policysetstack_id:
        ntp v2.0:
        - description: Default NTP template created by super user.
          name: default
          ntp_servers:
          - host: 0.cloudgenix.pool.ntp.org
            max_poll: 10
            min_poll: 9
            version: 4
          - host: 1.cloudgenix.pool.ntp.org
            max_poll: 10
            min_poll: 9
            version: 4
          - host: 2.cloudgenix.pool.ntp.org
            max_poll: 10
            min_poll: 9
            version: 4
          - host: 3.cloudgenix.pool.ntp.org
            max_poll: 10
            min_poll: 9
            version: 4
          - host: time.nist.gov
            max_poll: 15
            min_poll: 13
            version: 4
          source_interface_ids:
          tags:
        priority_policysetstack_id:
        role: SPOKE
        routing:
          bgp:
            global_config v2.2:
              admin_distance: 20
              adv_interval: 1
              graceful_restart: false
              hold_time: 90
              keepalive_time: 30
              local_as_num: '{{ bgp_local_AS }}'
              maximum_paths: 1
              md5_secret:
              multi_hop_limit: 1
              peer_auth_type: none
              peer_retry_time: 120
              prefix_adv_type: unaggregated
              prefix_adv_type_to_lan: default
              prefixes_to_adv_to_wan:
              router_id:
              stalepath_time: 120
            peers v2.2:
              {{ site_name }}-PE-Router:
                bgp_config:
                description:
                peer_ip: {{ PE_mpls_ip }}
                peer_type: classic
                remote_as_num: '{{ bgp_PE_AS }}'
                route_map_in_id:
                route_map_out_id:
                scope: local
                shutdown: false
                tags:
                update_source:
          static v2.0:
          - description:
            destination_prefix: {{ vlan80_network }}
            network_context_id:
            nexthops:
            - admin_distance: 1
              nexthop_interface_id:
              nexthop_ip: {{ FW_next_hop }}
              self: false
            scope: global
            tags:
        serial_number: {{ ion_serial_number_1 }}
        snmp:
          agent v2.0:
          - description:
            tags:
            v2_config:
            v3_config:
              enabled: true
              users_access:
              - auth_phrase: CustomerX-SNMP
                auth_type: md5
                enc_phrase: CustomerX-SNMP
                enc_type: aes
                engine_id:
                security_level: auth
                user_name: CustomerX-SNMP
        software_version: 5.4.5-b5
        spoke_ha_config:
        state: bound
        syslog v2.1:
        - description:
          enable_flow_logging: true
          enabled: true
          name: SIEM
          protocol: udp
          server_ip: 10.136.20.81
          server_port: 514
          severity_level: minor
          source_interface: '3.1'
          tags:
        tags:
        tenant_id: '1162'
        toolkit v2.2:
          account_disable_interval: 5
          inactive_interval: 15
          otpkey_version: 1
          retry_login_count: 5
          ssh_enabled: true
          ssh_outbound_enabled: false
        vpn_to_vpn_forwarding: false
    extended_tags:
    location:
      description:
      latitude: {{ site_lat }}
      longitude: {{ site_long }}
    nat_policysetstack_id: Default-NATPolicySetStack
    network_policysetstack_id: {{ path_set }}
    policy_set_id:
    priority_policysetstack_id: {{ qos_set }}
    security_policyset_id:
    service_binding: {{ domain }}
    tags:
    waninterfaces v2.6:
      {{ site_name }}-{{ MPLS_Provider }}:
        bfd_mode: aggressive
        bw_config_mode: manual
        bwc_enabled: true
        cost: 128
        description:
        label_id: MPLS
        link_bw_down: 30.0
        link_bw_up: 10.0
        lqm_config:
        lqm_enabled: true
        network_id: {{ MPLS_Provider }}
        network_type: privatewan
        tags:
        type: privatewan
        use_for_application_reachability_probes:
        use_for_controller_connections:
        vpnlink_configuration:
      {{ site_name }}-{{ lte_internet_network_id }}:
        bfd_mode: non_aggressive
        bw_config_mode: manual_bwm_disabled
        bwc_enabled: true
        cost: 128
        description:
        label_id: Metered 3G/4G/LTE Internet
        link_bw_down: {{ lte_circuit_bw_down }}
        link_bw_up: {{ lte_circuit_bw_up }}
        lqm_config:
        lqm_enabled: false
        network_id: {{ lte_internet_network_id }}
        network_type: publicwan
        tags:
        type: publicwan
        use_for_application_reachability_probes:
        use_for_controller_connections: false
        vpnlink_configuration:
      {{ site_name }}-{{ primary_internet_network_id }}:
        bfd_mode: aggressive
        bw_config_mode: manual
        bwc_enabled: true
        cost: 128
        description:
        label_id: Primary Internet 1
        link_bw_down: {{ internet1_circuit_bw_down }}
        link_bw_up: {{ internet1_circuit_bw_up }}
        lqm_config:
        lqm_enabled: true
        network_id: Comcast
        network_type: publicwan
        tags:
        type: publicwan
        use_for_application_reachability_probes:
        use_for_controller_connections:
        vpnlink_configuration:
