certifi==2021.10.8
charset-normalizer==2.0.9
cloudgenix==6.0.1b1
cloudgenix-idname==2.0.2
fuzzywuzzy==0.18.0
idna==3.3
ipcalc==1.99.0
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
numpy==1.22.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-Levenshtein==0.12.2
PyYAML==6.0
requests==2.27.0
six==1.16.0
urllib3==1.26.7
websockets==10.1
