certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cloudgenix==5.5.1b2
cloudgenix-idname==2.0.2
cryptography==3.4.6
fuzzywuzzy==0.18.0
idna==2.10
ipcalc==1.99.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.20.1
pycparser==2.20
pyOpenSSL==20.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-Levenshtein==0.12.2
python-qt==0.50
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
urllib3==1.26.3
websockets==8.1
